body {
  background-color: #000000;
  font-family: 'inter', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --backdrop: #1F2937;
  --font-stack: 'inter', sans-serif;
  --theme-grey: #585858;
  --theme-blue: #3B82F6;
}

html {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5vh 10vw 0 10vw;
  max-width: 80vw;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.main-content {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--backdrop);
  border-radius: 20px;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Responsive Styles for screens >= 601px */
@media (min-width: 601px) {
  html {
    font-size: 16px;
  }

  .App {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    width: 80vw;
  }

  .main-content {
    all: unset;
    width: 80vw;
    box-sizing: border-box;
    background-color: var(--backdrop);
    border-radius: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
  }

  .title {
    margin: 0;
    position: absolute;
    left: 2.5vw;
    top: 11vh;
    color: white;
    text-align: left;
    font-size: clamp(1.5rem, 1.5vw, 1.8rem);
    margin: 0;
    font-weight: 600;
  }

  .navbar {
    display: flex;
    position: absolute;
    right: 0;
    border-radius: 0 20px 0 20px;
    font-size: 2.8vh;
    background-color: var(--theme-grey);
  }

  .nav-link {
    color: white;
    text-decoration: none;
    width: 12vw;
    line-height: 10vh;
    text-align: center;
  }

  .nav-link-active {
    background-color: var(--theme-blue);
    color: white;
    text-decoration: none;
    width: 12vw;
    line-height: 10vh;
    text-align: center;
    font-weight: 700;
  }

  .navbar .nav-link-active:first-child {
    border-radius: 0 0 0 20px;
  }

  .navbar .nav-link-active:last-child {
    border-radius: 0 20px 0 0;
  }

  .logo {
    width: 15vw;
    position: absolute;
    left: 2.5vw;
    top: 3vh;
  }
}